/* Navbar.module.css */

.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

.user__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sticker {
    font-size: 24px;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.sticker::before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #17212b;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


.userName {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'SF Pro Display', sans-serif;
}

.channel__container {
    display: flex;
    align-items: center;
    background-color: #17212b;
    border-radius: 70px;
}

.channel__name {
    font-size: 16px;
    font-family: 'SF Pro Display', sans-serif;
}

.channel__description {
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
    color: #ccc;
}

.channel__logo {
    width: 40px;
    height: 40px;
}

.channel {
    display: flex;
    /* align-items: center; */
}

.channel__info {
    padding-right: 13px;
    padding-top: 2px;
}