/* Search.module.css */

.search__container {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-top: 0px;
    align-items: center;
}

.search {
    width: 100%;
    border: none;
    border-radius: 0 460px 460px 0px;
    font-size: 16px;
    background-color: #17212b;
    color: white;
    padding: 12px 0px 12px 0px;
    padding-left: 0px;
    outline: none;
}

.search__icon {
    width: 25px;
    height: 25px;
    background-color: #17212b;
    border-radius: 20px 0px 0px 20px;
    color: #717171;
    padding: 8.700000000000003px;
}

.search__wrapper {
    width: 100%;
}