.сalculation__section {
    padding: 15px;
    padding-top: 0px;
}

.сalculations {
    color: #fff;
    font-family: 'SF Pro Display bold', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.сalculation_img {
    width: 160px;
    border-radius: 20px;

    @media (max-width: 320px) {
        width: 290px;
        border-radius: 20px;
    }
}

.сalculation_wrapper {
    /* background-color: #17212b; */
    border-radius: 20px;
}

.сalculation_info {
    background-color: #17212b;
    border-radius: 20px;
    width: 160px;

    @media (max-width: 320px) {
        width: 290px;
        border-radius: 20px;
    }
}

.сalculation_price {
    font-family: 'SF Pro Display bold', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;

    @media (max-width: 320px) {
        font-size: 20px;
    }
}

.сalculation_name {
    font-family: 'SF Pro Display bold', sans-serif;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 8px;

    @media (max-width: 320px) {
        margin-bottom: 0px;
        font-size: 18px;
    }
}

.сalculation_button {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #232e3c;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    width: 90%;
    padding: 7px;
    border: none;
    margin-bottom: 6px;

    @media (max-width: 320px) {
        padding: 10px;
    }
}

.сalculation_info_wrapper {
    @media (max-width: 320px) {
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        margin-bottom: 10px;
    }
}

.сalculation_text {
    width: 100%;
    display: flex;
    justify-content: center
}